/* sass sass/main.scss:css/styles.css --watch */
main {
  width: 90%;
  text-align: center;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

body {
  width: 100%;
  margin: 0;
  font-size: 20px;
  line-height: 35px;
}

header {
  height: 200px;
}

.header {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.header .titre {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50px;
}
.header .btn_panier {
  margin-top: auto;
  margin-right: 50px;
  margin-bottom: auto;
}

footer {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}
footer .footer__lien {
  text-decoration: underline;
}

.product__titre {
  margin-top: 70px;
  margin-bottom: 70px;
  text-decoration: underline;
  text-align: left;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.products .cam {
  margin: auto;
  margin-bottom: 20px;
}
.products .cam .cam__card {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 200px;
  border: solid;
}
.products .cam .cam__card img {
  width: 300px;
  height: 200px;
}
.products .cam .cam__card .cam__card__ref {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 15px;
}
.products .cam .cam__card .cam__card__ref .cam__card__ref__name {
  margin-left: 30px;
}
.products .cam .cam__card .cam__card__ref .cam__card__ref__price {
  margin-bottom: 10px;
  text-align: right;
}

.titre {
  text-decoration: underline;
}

.carte .carte__name {
  font-style: italic;
  font-size: 25px;
}
.carte .carte__article .carte__article__img {
  width: 600px;
  height: 400px;
}
.carte .carte__article .carte__article__detail .carte__article__detail__description {
  font-size: 23px;
}
.carte .carte__article .carte__article__detail .carte__article__detail__option .carte__article__detail__option__name {
  font-size: 23px;
}
.carte .carte__article .carte__article__detail .carte__article__detail__price {
  font-size: 30px;
}
.carte .carte__button .carte__button__add {
  font-size: 30px;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 25px;
}

.panier {
  border: solid;
  margin-bottom: 10px;
}
.panier .panier__article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 5px;
}
.panier .panier__article p {
  margin-left: 10px;
}
.client .form {
  text-align: left;
}
.client .form .form__prenom {
  display: flex;
  margin-bottom: 5px;
  margin-left: 5px;
}
.client .form .form__prenom .form__prenom__label {
  width: 7em;
  display: block;
}
.client .form .form__nom {
  display: flex;
  margin-bottom: 5px;
  margin-left: 5px;
}
.client .form .form__nom .form__nom__label {
  width: 7em;
  display: block;
}
.client .form .form__email {
  display: flex;
  margin-bottom: 5px;
  margin-left: 5px;
}
.client .form .form__email .form__email__label {
  width: 7em;
  display: block;
}
.client .form .form__adresse {
  display: flex;
  margin-bottom: 5px;
  margin-left: 5px;
}
.client .form .form__adresse .form__adresse__block {
  display: flex;
  margin-right: 5px;
}
.client .form .form__adresse .form__adresse__block .form__adresse__block__label {
  width: 7em;
  display: block;
}
.client .form .form__adresse .form__adresse__ville {
  display: flex;
  margin-right: 5px;
}
.client .form .form__adresse .form__adresse__ville .form__adresse__ville__label {
  width: 7em;
  display: block;
}
.client .form .form__adresse .form__adresse__code {
  display: flex;
}
.client .form .form__adresse .form__adresse__code .form__adresse__code__label {
  width: 7em;
  display: block;
}
.client .form .form__divbutton .form__divbutton__add {
  width: 150px;
  height: 50px;
  margin-left: 5px;
  margin-bottom: 5px;
}

/*# sourceMappingURL=styles.css.map */
