h2 {
    text-decoration: underline;
}

.cart__product {
    
    .cart__img {
        width: 600px;
        height: 400px;
    } 

    .cart__info {
        .cart__name__titre, .cart__description__titre, .cart__price__titre {
            text-decoration: underline;
            font-weight: bold;
        }
    }


    
   
}

