.titre{
    text-decoration: underline;
}

.carte {
    .carte__name {
        font-style: italic;
        font-size: 25px;
    }

    .carte__article{
        .carte__article__img {
            width: 600px;
            height: 400px;
        }

        .carte__article__detail {
            .carte__article__detail__description {
                font-size: 23px;
            }

            .carte__article__detail__option {
                .carte__article__detail__option__name {
                    font-size: 23px;
                }
            }

            .carte__article__detail__price {
                font-size: 30px;
            }
        }
    }

    .carte__button {
        .carte__button__add {
            font-size: 30px;
            background-color: black; 
            color: white;
            padding: 10px;
            border-radius: 25px;
        }
    }
}